body{
    margin: 0 auto;
    width: 55%;
}
.head{
    height: 100px;
    display: flex;
    position: relative;
    margin-top: 80px;
}
.hole{
    border-radius: 8px;
    height: 50px;

    position: absolute;
    left: 90px;
    top: 25px;
}
.hole:hover{
    background-color: #3f9d7e;
    transition: .5s;
}
p {
    width: 100%;
    height: 100%;

    text-align: center;
    opacity: 0;
}
p:hover{
    color: #CED8E1;
    opacity: 1;
    transition: .5s;
}
.fa-solid{
    font-size: 22px;
    color: #6964E2;

    position: absolute;
    right: 90px;
    top: 38px;
}
.fa-magnifying-glass{
    right: 130px;
    cursor: text;
}
.fa-bars{
    cursor: pointer;
}
.body{
    height: 400px;
}

.flex{
    height: 100px;
    width: 100%;

    position: absolute;
    top: -50px;

    display: flex;
    justify-content: center;
}
.items{
    background-color: #6964E2;
    height: 100px;
    width: 200px;
    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
}
.items:hover{
    opacity: 0.6;
}
.foot{
    height: 130px;
    position: relative;
}
.body-hole-color{
    background-color: #102B3E;
}
.head-foot-color{
    background-color: #CED8E1;
}
.hole-items-width{
    width: 110px;
}