body{
    margin: 0;
}
.container{
    margin: 90px auto 0;
    width: 70%;
    height: 40vw;
    /*background-color: #e1f3ff;*/

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    height: 360px;
    width: 310px;
    border: 2px solid #b2b1b1;
    position: relative;
}
i{
    font-size: 25px;
    color: coral;
}
.icons{
    width: 85px;
    height: 85px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -60px;
    left: 110px;
}
h2{
    text-align: center;
    margin-top: 90px;
    font-family: "Calibri Light",sans-serif;
}
p{
    color: #9a9a9a;
    font-size: 18px;
    line-height: 35px;
    text-align: center;

    margin: 20px 50px 30px;
}
button{
    width: 70%;
    text-align: center;
    font-size: 18px;
    font-family: "Calibri Light",sans-serif;

    padding: 13px;
    margin-left: 45px;
}